<md-toolbar class="md-accent md-whiteframe-3dp">
    <div class="md-toolbar-tools">
        <h5>
            <a ui-sref="dashboard.config">Configuration</a>
        </h5>
        <h5>
            <i class="material-icons padding-sm">keyboard_arrow_right</i>
        </h5>
        <h5>
            <a ui-sref="dashboard.config.roles">Roles</a>
        </h5>
        <span flex></span>
    </div>
</md-toolbar>
<div layout="column" layout-fill="layout-fill" ui-view>
    <md-card class="padding-md center md-cell-3 anchor" ui-sref="dashboard.config.roles">
        <i class="material-icons font-xl">group_work</i> 
        <h3>Roles</h3>
    </md-card>
</div>