<md-toolbar class="md-accent md-whiteframe-3dp">
    <div class="md-toolbar-tools">
        <h5>
            <span>Reset Password</span>
        </h5>
        <span flex></span>
    </div>
</md-toolbar>
<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <form name="resetPasswordForm" ng-submit="resetPassword.validateAndSave()" novalidate>
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-content layout="row">
        <h1 class="center no-margin-bottom" flex="100" flex-sm="100">
            <i class="font-xl material-icons">lock</i>
        </h1>
      </md-content>
      <md-content layout="column" class="md-padding no-padding-bottom">
        <md-input-container class="no-margin">
          <label>Current Password</label>
          <input type="password" required md-no-asterisk name="password" ng-model="resetPassword.formData.password" />
          <div ng-messages="resetPasswordForm.password.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="no-margin">
          <label>New Password</label>
          <input type="password" required md-no-asterisk name="newPassword" ng-model="resetPassword.formData.newPassword" />
          <div ng-messages="resetPasswordForm.newPassword.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container class="no-margin">
          <label>Confirm Password</label>
          <input type="password" required md-no-asterisk name="confirmPassword" ng-model="resetPassword.formData.confirmPassword" />
          <div ng-messages="resetPasswordForm.confirmPassword.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary bold md-cell-12" type="submit">Reset Password</md-button>
        </div>
        <p class="center md-caption">&nbsp;</p>
      </md-content>
    </div>
  </form>
</div>