<div class="row">
    <ol class="brush-breadcrumb breadcrumb no-margin">
        <li>User Management</li>
        <li><a ng-click="users.editUser()" class="anchor brush-link">Add User</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12 padding-lg">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users.users | filter : {deleted:'!Y'}">
                        <th scope="row">{{::user.user_id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role_desc}}</td>
                        <td class="text-center">
                            <i class="fa fa-edit anchor padding-md-left" ng-click="users.editUser(user)"></i>
                        </td>
                        <td class="text-center">
                            <i class="fa anchor" ng-if="user.user_id!==1" ng-class="{'fa-times': !user.deleteInitiated,'fa-spinner fa-spin': user.deleteInitiated}"
                            ng-click="users.deleteUser(user)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>