<div layout="column">
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools">
            <logo></logo>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button href="https://github.com/colorgap/brush">
                Github
            </md-button>
            <md-button href="/dashboard#/register" hide show-gt-sm>
                Sign up
            </md-button>
            <md-button href="/dashboard">
                Sign in
            </md-button>
        </div>
    </md-toolbar>
</div>
<div layout="column" layout-fill>

    <md-content class="content-section">
        <md-content class="inverse app-homepage-header-row">
            <h1>App development made real simple</h1>
            <h4>Tools and architecture you need to build solid and robust apps, <logo></logo> can be deployed in any server environment thanks to PHP and JS.</h4>
            <md-button class="md-raised md-default" href="http://bootstrap.brush.colorgap.com">&nbsp;&nbsp;Bootstrap Demo&nbsp;&nbsp;</md-button>
            <md-button class="md-raised md-accent" href="http://material.brush.colorgap.com">&nbsp;&nbsp;Material Demo&nbsp;&nbsp;</md-button>
        </md-content>
        <div flex class="text-center" layout-padding layout-margin>
            <h1 class="md-display-3">
                <logo></logo>
            </h1>
        </div>
        <div flex class="text-center">
            <h4>Let's build an awesome app together.</h4>
        </div>
        <div flex class="text-center">
            <label><logo></logo> is an amazing app scaffolding for laravel's lumen and angular based projects.</label>
        </div>
        <div flex class="text-center">
            <label><logo></logo> is open source and really easy to learn, install, build and ship.</label>
        </div>
        <div flex class="text-center">
            <h1 class="md-display-1">
                 <span>Under </span><span style="color:#F39C12;">Development</span>
            </h1>
        </div>
        <div flex class="text-center" layout-padding layout-margin>
            <h3>Fork us | Star us | Follow us</h3>
            <a href="https://github.com/colorgap/brush"><img src="images/github-32px.png"></a>
        </div>
        <div flex class="text-center" layout-padding layout-margin>
             &lt; coded /&gt; with love by <a href="https://www.colorgap.com" style="text-decoration: none"><img class="colorgap-logo" src="images/colorgap.png"></a>
        </div>
    </md-content>
</div>
