.vbox {
    height: 100%;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.sidebar {
    background-color: $brand-primary;
}
.sidebar ul li a{
    color: #fff;
}
.sidebar ul li{
    color: #fff;
    a.nav-link.active{
        background-color: darken($brand-primary,7.5%);
    }
}