html, body{
    overflow: hidden;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.content-section{
    height: calc(100vh - 48px)!important;
    overflow-y: auto;
}
.layout-offset-nav{
    padding: 0px;
    margin: 0px 0px 48px 0px;
}
.layout-offset-nav md-menu-content{
    padding: 0px;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
._md-nav-bar-list {
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    outline: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
md-menu-content{
    max-height: 100%;
}
.nav-active{
    border-right: 5px solid rgba(255,215,64,0.87);
}
.md-brush-toolbar{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    margin-left: 300px;
}