<md-dialog aria-label="Add Edit User" class="md-cell-6">
    <form ng-cloak ng-submit="addEditUser.validateAndSave()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="bold">{{addEditUser.config.title}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="addEditUser.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="form-group no-margin">
                    <label>Username</label>
                    <input type="text" ng-model="addEditUser.user.username" required>
                </md-input-container>
                <md-input-container class="form-group no-margin">
                    <label>Name</label>
                    <input type="text" ng-model="addEditUser.user.name" required>
                </md-input-container>
                <md-input-container class="form-group no-margin">
                    <label>Email</label>
                    <input type="email" ng-model="addEditUser.user.email" required>
                </md-input-container>
                <md-input-container class="form-group no-margin" ng-if="addEditUser.config.type!=='edit'">
                    <label>Password</label>
                    <input type="password" ng-model="addEditUser.user.password" required>
                </md-input-container>
                <md-input-container class="form-group no-margin">
                    <label>Role</label>
                    <md-select ng-model="addEditUser.user.role">
                        <md-option><em>Select Role</em></md-option>
                        <md-option ng-repeat="role in addEditUser.roles" ng-value="role.role_id">
                            {{role.role_desc}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="bold" ng-click="addEditUser.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary bold" ng-click="addEditUser.validateAndSave()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>