<div layout="column">
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools">
            <span>bowyer</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button href="https://github.com/colorgap/bowyer">
                Github
            </md-button>
            <md-button href="/dashboard#/register">
                Sign up
            </md-button>
            <md-button href="/dashboard">
                Sign in
            </md-button>
        </div>
    </md-toolbar>
</div>
<div layout="column" layout-fill>
    <md-content class="content-section">
        <div flex class="text-center">
            <h1 class="md-display-3">
                <span>bow</span>
                <span style="color:#F39C12;margin-left: -10px;">yer</span>
            </h1>
        </div>
        <div flex class="text-center">
            <h4>Let's build an awesome app together.</h4>
        </div>
        <div flex class="text-center">
            <label>Bowyer is an amazing app scaffolding for laravel's lumen and angular based projects.</label>
        </div>
        <div flex class="text-center">
            <label>Bowyer is open source and really easy to learn, install, build and ship.</label>
        </div>
        <div flex class="text-center">
            <h1 class="md-display-2">
                 <span>Under </span><span style="color:#F39C12;margin-left: -10px;"">Development</span>
            </h1>
        </div>
        <div flex class="text-center">
            <h3>Fork us | Star us | Follow us</h3>
            <a href="https://github.com/colorgap/bowyer"><img src="images/github-32px.png"></a>
        </div>
        <div flex class="text-center">
             &lt; &gt; with love by <a href="https://www.colorgap.com" style="text-decoration: none"><span class="colorgap-logo">Color]<span class="gap">[gap</span></span></a>
        </div>
        </div>
    </md-content>
</div>
