<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <form name="loginForm" ng-submit="register.validateRegister()" novalidate>
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-content layout="row">
        <h1 class="center no-margin-bottom" flex="100" flex-sm="100">
            <i class="font-xl material-icons">person_pin</i>
        </h1>
      </md-content>
      <md-content layout="column" class="md-padding no-padding-bottom">
        <md-input-container class="no-margin">
          <label>Username</label>
          <input type="text" ng-model="register.formData.username" />
        </md-input-container>
        <md-input-container class="no-margin">
          <label>Email</label>
          <input type="email" ng-model="register.formData.email" />
        </md-input-container>
        <md-input-container class="no-margin">
          <label>Password</label>
          <input type="password" ng-model="register.formData.password" />
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary bold md-cell-12" type="submit">Sign Up</md-button>
        </div>
        <p class="center md-caption"><span>Have an account?</span> <span><a ui-sref="login" class="anchor">Login now</a>.</span></p>
      </md-content>
    </div>
  </form>
</div>