a.anchor{
  cursor: pointer;
}
.colorgap-logo span.gap{
  color: #F39C12;
  font-weight:bold;
}
.red{
  color:red;
}

.card-wrapper {
  background: #FFF;
  margin: 20px 10px;
  text-align: center;
  padding: 30px 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  color: 0 0 3px #999;
}
