<md-content>
    <md-card>
        <md-card-title>
            <md-icon class="material-icons no-margin padding-md-right">warning</md-icon>System will refresh every one hour.
        </md-card-title>
    </md-card>
    <md-card md-theme="dark-orange">
        <md-card-title>
            <md-icon class="material-icons no-margin padding-md-right">warning</md-icon>System will refresh every one hour.
        </md-card-title>
    </md-card>
    <md-card md-theme="amber">
        <md-card-title>
            <md-icon class="material-icons no-margin padding-md-right">warning</md-icon>System will refresh every one hour.
        </md-card-title>
    </md-card>
</md-content>