<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="clearfix ui-login">
                <form class="ui-login-content">
                    <h1 class="text-center text-primary">
                        <bowyer-logo></bowyer-logo>
                    </h1>
                    <uib-alert type="danger" ng-show="showLoginError" close="showLoginError=false">
                        <strong>{{loginError}}</strong>
                    </uib-alert>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user text-primary"></i></span>
                            <input type="text" class="form-control" ng-model="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#/" ng-click="validateLogin()" class="btn btn-primary btn-block">Send Me Password Reset Link</a>
                    </div>
                     <div class="form-group text-center">
                        Don't have an account yet? <a href="#/register" class="btn btn-link">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
