<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="clearfix ui-login">
                <ng-form class="ui-login-content">
                    <h1 class="text-center text-primary">
                        <bowyer-logo></bowyer-logo>
                    </h1>
                    <uib-alert type="{{register.registerError.type}}" ng-show="register.registerError" close="register.registerError=false">
                        <strong>{{register.registerError.message}}</strong>
                    </uib-alert>
                    <div class="form-group">
                        <i class="fa fa-user text-primary input-form-icon"></i>
                        <input type="text" class="form-control input-form-text" ng-class="{'has-error':!register.formData.username}" ng-model="register.formData.username" placeholder="Username" ng-required>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope text-primary input-form-icon"></i>
                       <input type="text" class="form-control input-form-text" ng-model="register.formData.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock text-primary input-form-icon"></i>
                        <input type="password" class="form-control input-form-text" ng-model="register.formData.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a ng-click="register.validateRegister()" class="btn btn-primary btn-block">Sign up</a>
                    </div>
                    <div class="form-group text-center">
                        Have an account already? <a ui-sref="login" class="btn btn-link">Sign In</a>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>
