<div class=row><div class="col s12"><h5>Brush - Alpha</h5><p>App Scaffolding for laravel lumen and angular based projects:</p><p>Brush use Laravel's micro framework lumen as a base and build an amazing UI on top of it which provide you quick and easy way to jump start your app. Best part of brush is, it comes with 2 different UI: one for landing page and other for dashboard from same CSS and JS vendor files but different config files. This gives you flexibility to have different look on Customer facing vs admin dashboard.</p><pre>
            <code class="bash hljs">
$ git clone git@github.com:colorgap/brush.git
$ composer install && npm install
$ gulp
            </code>
        </pre><p>if above command doesn't work the try adding sudo</p><pre>
            <code class="bash hljs">   
$ sudo composer install && npm install
$ gulp
            </code>
        </pre><p>Now change the name of your .env.example file to .env</p><pre>
            <code class="bash hljs">   
$ gulp build
$ NODE_ENV=prod gulp build
            </code>
        </pre></div></div>
        
