<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <form name="loginForm" ng-submit="login.validateLogin()" novalidate>
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-content layout="row">
        <h1 class="center no-margin-bottom" flex="100" flex-sm="100">
            <i class="font-xl material-icons">person_pin</i>
        </h1>
      </md-content>
      <md-content layout="column" class="md-padding no-padding-bottom">
        <md-input-container class="no-margin">
          <label>Username</label>
          <input type="text" ng-model="login.username" />
        </md-input-container>
        <md-input-container class="no-margin">
          <label>Password</label>
          <input type="password" ng-model="login.password" />
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-checkbox class="font-sm padding-xs no-padding-left-right" ng-model="login.remmeberme" aria-label="remember me" flex="50" flex-sm="100">
            Remember Me
          </md-checkbox>
           <a href="" class="margin-md-bottom md-caption right anchor" flex="50" flex-sm="100">Forgot Password?</a>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary bold" flex="100" flex-sm="100" type="submit">Sign In</md-button>
        </div>
        <p class="center md-caption"><span>Don't have an account?</span> <span><a href="" class="anchor">Register now</a>.</span></p>
      </md-content>
    </div>
  </form>
</div>