<nav class="navbar navbar-fixed-top navbar-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed padding-sm-top padding-sm-bottom" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <i class="fa fa-align-justify no-margin no-padding"></i>
          </button>
          <a class="navbar-brand" href="#/">Lume Demo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-fw fa-md fa-home"></i> Home</a></li>
            <li><a href="#/alerts"><i class="fa fa-fw fa-bell"></i> Alert</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-fw fa-bank"></i> Administration <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/users">User Management</a></li>
                <li><a href="#">Metrics</a></li>
                <li><a href="#">Configuration</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Database</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-fw fa-user"></i> Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/settings">Setting</a></li>
                <li><a href="#/resetPassword">Reset Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/login"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>
 <div class="container-fluid">
   <div ui-view>
     <div class="row">
       <div class="col-md-12 padding-lg">
         <h4>Dashboard</h4>

       </div>
     </div>

   </div>
 </div>
