<md-toolbar class="md-accent md-whiteframe-3dp">
    <div class="md-toolbar-tools">
        <h5>
            <span>Health Check</span>
        </h5>
        <span flex></span>
    </div>
</md-toolbar>
<div layout="row" layout-xs="column" class="padding-md">
  <div flex>
    <h5>API Check: </h5>
  </div>
</div>
<div layout="row" layout-xs="column" class="padding-md">
  <div flex="90">
    <md-content>
        <md-progress-linear md-mode="determinate" value="{{vm.api.checkValue}}"></md-progress-linear>
    </md-content>
  </div>
  <div flex="10">
    <i class="material-icons" style="margin: -10px 30px;">check</i>
  </div>
</div>
<div layout="row" layout-xs="column" class="padding-md">
  <div flex>
    <h5>Database Check: </h5>
  </div>
</div>
<div layout="row" layout-xs="column" class="padding-md">
  <div flex="90">
    <md-content>
        <md-progress-linear md-mode="determinate" value="{{vm.db.checkValue}}"></md-progress-linear>
    </md-content>
  </div>
  <div flex>
    <i class="material-icons" style="margin: -10px 30px;">check</i>
  </div>
</div>
<div layout="row" layout-xs="column" class="padding-md">
  <div flex>
    <h5>Local Storage Check: </h5>
  </div>
</div>
<div layout="row" layout-xs="column" class="padding-md">
  <div flex="90">
    <md-content>
        <md-progress-linear md-mode="determinate" value="{{vm.ls.checkValue}}"></md-progress-linear>
    </md-content>
  </div>
  <div flex>
    <i class="material-icons" style="margin: -10px 30px;">check</i>
  </div>
</div>