<div class="row">
    <ol class="breadcrumb no-margin">
        <li>Reset Password</li>
    </ol>
</div>
<div class="row">
    <form ng-submit="resetPassword.validateAndSave()" class="col-md-4 col-md-offset-4 padding-lg">
        <uib-alert type="{{resetPassword.resetPasswordError.type}}" ng-show="resetPassword.resetPasswordError" close="resetPassword.resetPasswordError=false">
            <strong>{{resetPassword.resetPasswordError.message}}</strong>
        </uib-alert>
        <div class="form-group" ng-class="{'has-error':resetPassword.error.password}">
            <i class="fa fa-lock text-primary input-form-icon"></i>
            <input type="password" class="form-control input-form-text" ng-model="resetPassword.formData.password" placeholder="Current Password">
        </div>
        <div class="form-group" ng-class="{'has-error':resetPassword.error.newPassword}">
            <i class="fa fa-lock text-primary input-form-icon"></i>
            <input type="password" class="form-control input-form-text" ng-model="resetPassword.formData.newPassword" placeholder="New Password">
        </div>
        <div class="form-group" ng-class="{'has-error':resetPassword.error.confirmPassword}">
            <i class="fa fa-lock text-primary input-form-icon"></i>
            <input type="password" class="form-control input-form-text" ng-model="resetPassword.formData.confirmPassword" placeholder="Re-enter Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </div>
    </form>
</div>