<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="clearfix ui-login">
                <form class="ui-login-content">
                    <h1 class="text-center text-primary">l</h1>
                    <h1 class="text-center text-primary">
                        <span>l</span><span style="color:red">ume</span>
                    </h1>
                    <div class="alert alert-danger" ng-show="showLoginError">
                        <strong>{{loginError}}</strong>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user text-primary"></i></span>
                            <input type="text" class="form-control" ng-model="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock  text-primary"></i></span>
                            <input type="password" class="form-control" ng-model="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="validateLogin()" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>