<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <form name="loginForm" ng-submit="login.validateLogin()" novalidate>
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-content layout="row">
        <h1 class="center no-margin-bottom" flex="100" flex-sm="100">
            <i class="font-xl material-icons">verified_user</i>
        </h1>
      </md-content>
      <md-content layout="column" class="md-padding no-padding-bottom">
        <md-input-container class="no-margin">
          <label>Email or Username</label>
          <input type="text" ng-model="login.username" />
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary bold md-cell-12" type="submit">Send me Reset Password Link</md-button>
        </div>
        <p class="center md-caption"><span>Rememer your password?</span> <span><a ui-sref="login" class="anchor">Login now</a>.</span></p>
      </md-content>
    </div>
  </form>
</div>