<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
        <h5>
            <span>Configuration</span>
        </h5>
        <span flex></span>
    </div>
</md-toolbar>

<div class="row">
    <ol class="bowyer-breadcrumb breadcrumb no-margin">
        <li><a ui-sref="dashboard.config" class="bowyer-link">Configuration</a></li>
        <li><a ui-sref-active="text-warning" class="bowyer-link" ui-sref="dashboard.config.roles">Roles</a></li>
    </ol>
</div>
<ui-view>
    <div class="row padding-md">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center padding-sm">
            <div class="well well-sm anchor" ui-sref="dashboard.config.roles" ng-click="config.currentPage='Roles'">
                <i class="fa fa-3x fa-users text-primary"></i>
                <h3>Roles</h3>
            </div>
        </div>
    </div>
</ui-view>