<div class="row">
    <ol class="breadcrumb no-margin">
        <li>User Management</li>
    </ol>
</div>
<div class="row">
  <div class="col-md-12 padding-lg">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users">
            <th scope="row">{{::user.user_id}}</th>
            <td>{{::user.name}}</td>
            <td>{{::user.username}}</td>
            <td>{{::user.email}}</td>
            <td>{{::user.role_desc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
