.no-padding{
    padding: 0px!important;
}
.no-padding-left{
    padding-left: 0px!important;
}
.no-padding-right{
    padding-right: 0px!important;
}
.no-padding-top{
    padding-top: 0px!important;
}
.no-padding-bottom{
    padding-bottom: 0px!important;
}
.no-padding-left-right{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.no-padding-top-bottom{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.padding-xs{
    padding: 2px;
}
.padding-sm{
    padding: 5px;
}
.padding-sm-top{
    padding-top: 6px;
}
.padding-sm-bottom{
    padding-bottom: 6px;
}
.padding-md-left{
    padding-left: 10px; 
}
.padding-md-right{
    padding-right: 10px; 
}
.padding-md{
    padding: 10px;
}
.padding-lg{
    padding: 20px;
}
.padding-xl{
    padding: 30px;
}
.no-border{
    border: none;
}
.no-border-radius{
    border-radius: 0px!important;
}
.no-margin-left-right{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.no-margin-right{
    margin-right: 0px!important;
}
.no-margin-left{
    margin-left: 0px!important;
}
.no-margin-top{
    margin-top: 0px!important;
}
.no-margin-bottom{
    margin-bottom: 0px!important;
}
.no-margin{
    margin: 0px!important;
}
.margin-xs{
    margin: 2px;
}
.margin-sm{
    margin: 5px;
}
.margin-sm-top{
    margin-top: 8px;
}
.margin-md-top{
    margin-top: 16px;
}
.margin-lg-top{
    margin-top: 24px;
}
.margin-sm-bottom{
    margin-bottom: 8px;
}
.margin-md-bottom{
    margin-bottom: 16px;
}
.margin-lg-bottom{
    margin-bottom: 24px;
}
.margin-md{
    margin: 10px;
}
.margin-lg{
    margin: 20px;
}
.margin-xl{
    margin: 30px;
}
.font-sm{
    font-size: 13px;
}
.font-md{
    font-size: 24px;
}
.font-lg{
    font-size: 48px;
}
.font-xl{
    font-size: 72px;
}

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.bold{
    font-weight: bold;
}
.anchor{
    outline: none;
    cursor: pointer;
    text-decoration: none;
}