html, body{
    overflow: hidden;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.content-section{
    height: calc(100vh - 48px)!important;
    overflow-y: auto;
}
.layout-offset-nav{
    padding: 0px;
    margin: 0px 0px 48px 0px;
}
.layout-offset-nav md-menu-content{
    padding: 0px;
}