.center{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.anchor{
    outline: none;
    cursor: pointer;
}
md-content.md-bowyer-theme{
    color: #1D628B;
}
.md-botton{
    font-family: "Raleway", "Helvetica Neue", sans-serif;
}
.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}