
md-content.md-bowyer-theme{
    color: #2E0C56;
}
.md-botton{
    font-family: "Raleway", "Helvetica Neue", sans-serif;
}
.loginBox {
  max-width:  100%;
  width: 360px;
}

.stretch input  {
  width: 100%
}
.sidenav-mobile-heading{
    padding: 13px 20px;
    margin:0px;
}
.sidenav-mobile-burger{
    padding-right: 15px;
}
.text-accent{
    color:rgba(255,215,64,0.87);
}
.md-toast-text{
    font-weight: bold;
}
.form-group{
    width: 100%;
}